[submodule "scripts/ext/TandemTools"]
	path = scripts/ext/TandemTools
	url = git@github.com:ablab/TandemTools.git
[submodule "scripts/ext/stringdecomposer"]
	path = scripts/ext/stringdecomposer
	url = git@github.com:ablab/stringdecomposer.git
